<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
        <application>
            <service>
                <wellknown mode="Singleton" objectUri="TradingEngineAgent.rem" type="AppAgent.AgentController, AppAgent" />
            </service>
	         <channels>
        				<channel ref="tcp" port="20001"> 				
            <serverProviders>
        					 <formatter ref="binary" typeFilterLevel="Full" />
        				</serverProviders>				
        				</channel>
           </channels>
        </application>
    </system.runtime.remoting>
</configuration>
 