<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.runtime.remoting>
<application>
<service>
<!-- Registration of Singleton Remote Type (HeartBeatService) -->
<wellknown mode="Singleton" objectUri="HeartBeatService.rem"
type="RPC.Services.HeartBeatService, RPC.Services" />
<!-- Registration of SingleCall Remote Type
(HeartBeat Service Meta-Info) -->
<wellknown mode="SingleCall" objectUri="HeartBeatServiceInfo.rem"
type="RPC.Services.HeartBeatServiceInfo, RPC.Services" />
</service>
<channels>
<!-- Registration of TCP channel and binary encoding format -->
<channel ref="tcp" port="15000">
<formatter ref="binary"/>
</channel>
<!-- Registration of HTTP channel and SOAP encoding format -->
<channel ref="http" port="16000">
<formatter ref="soap"/>
</channel>
</channels>
</application>
</system.runtime.remoting>
</configuration>